<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    id="cordova-plugin-ignore-ssl-error" version="1.0.0">
    <name>Ignore SSL Error</name>
    <description>This plugin helps address Google Play's attention requirement with onReceivedSslError.</description>
    <license>MIT</license>

    <platform name="android">
        <hook type="before_compile" src="hooks/before_compile_android.js"/>
    </platform>
</plugin>